@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --accent-color: #a876aa;
    --main-transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

/*=============== MAIN ===============*/
main {
    flex: 1;
}

.intro {
    text-align: center;
    padding: 6rem 0 2rem;
}

.intro h1 {
    margin: 1rem 0;
}

/*=============== NAV BAR ===============*/
nav {
    padding: 1rem;
    margin: 2rem 0;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: var(--main-transition);
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: var(--accent-color);
}

/*=============== GEOINT ===============*/
.gisproject1 {
    margin: 2rem;
}

.gisproject1 h2 {
    margin: 1rem 0;
}

.gisproject2 {
    margin: 2rem;
}

.gisproject2 h2 {
    margin: 2rem 0;
}

/*=============== FOOTER ===============*/
footer {
    text-align: center;
    padding: 1rem;
}